*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;

}

nav{
    background: green;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.luclubs{
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    padding: 13px 13px;
    border-radius: 10px;
    font-size: 17px;
    width: 60%;
    text-transform: uppercase;
}

.login:hover{
    color: black;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.register:hover{
    color: black;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.about:hover{
    color: black;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    background-color: orangered;
    transition: 0.5s ease-in-out;
}

.lu{
    width: 100%;
    height: 65vh;
}

.lu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leading{
    text-align: center;
    font-size: 45px;
}

.convocation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.con{
    width: 45%;
    padding: 15px;
}

.about{
    background: green;
    color: white;
    padding: 20px 20px;
    margin-top: 120px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.uni-info{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.luclubs1{
    color: green;
    text-align: center;
    font-size: 45px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.card{
    width: 300px;
    margin: 5px;
    color: black;
}
.card-title{
    background-color: green;
    text-align: center;
    padding: 20px 5px;
    margin-top: 20px;
    border-radius: 5%;
    cursor: pointer;
}

.card-image{
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}

.card-image:hover {
    transform: scale(1.2);
  }

.heading{
    color: rgb(4, 4, 124);
    padding-left: 30px;
}

.live_event{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.event{
    width: 1000px;
    margin: 5px;
}

.event-image{
    width: 1000px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.event-title{
    background-color: rgb(14, 151, 205);
    text-align: center;
    padding: 20px 5px;
    margin-top: 20px;
    border-radius: 5%;
    color: black;
    cursor: pointer;
}

.concert{
    width: 600px;
    margin: 5px;
}

.concert-image{
    width: 600px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.orphius{
    width: 1000px;
    margin: 5px;
}

.orphius-image{
    width: 1000px;
    height: 600px;
    object-fit: cover;
    cursor: pointer;
}

.get{
    background-color: green;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    text-decoration: none;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.get-ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.get:hover{
    background-color: green;
}
