body{
    padding: 0;
    margin: 0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.heading{
    text-align: center;
    color: black;
    background-color: green;
    margin: 0;
    padding: 0;
}

.welcome{
  text-align: center;
  color: green;
}

hr{
  height: 10px;
  width: 400px;
  background-color: green;
  margin-top: -15px;
  margin-bottom: 10px;
}

h1{
    text-align: center;
    color:green;
    
}

label{
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
}

input#stdid{
  width: 300px;
  border: 1px solid green;
  border-radius: 3px;
  outline: 0;
  padding: 14px;
  background-color: none;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

.email{
  margin-left: 38px;
}

.fr{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

input#otp { 
    background-color: green;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  }
  
  input#otp:hover {
    opacity: 0.8;
    background-color: orangered;
  }

  a{
    color: white;
  }

  a:link {              
    text-decoration: none; /* For remove Underline of the Send OTP button */
}